.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  font-size: 2rem;
  text-align: center;
  // padding-bottom: 0.5rem;
  letter-spacing: 1px;
  position: relative;

  span {
    font-weight: 700;
  }

  &:focus,
  &:hover {
    top: -1px;
    left: -1px;
  }

  &-outline {
    color: color(accent-dark);
    background-color: color(white);
  }


  &-dark {
    color: color(white);
    border-color: color(accent-dark);
    background-color: color(accent-dark);

    &:focus,
    &:hover {
      border-color: color(accent-light);
      background-color: color(accent-light);
    }
  }

  &-light {
    color: color(accent-dark);
    background-color: color(white);
  }

}

.tab {
  min-width: 11rem;
  padding: 0 1.25rem;
  height: 3.5rem;
  font-size: 1.4rem;
  border-radius: 0.75rem;
  border: 1px solid color(accent-dark);

  &.active {
    color: color(white);
    background-color: color(accent-dark);
  }
}