.register {
  .accent-title {
    display: inline-block;
    padding-bottom: 2rem;
    padding-inline-end: 5rem;
    border-bottom: 0.5rem solid color(accent-dark);
  }

  .img-wrapper {
    display: none;

    @media only screen and (min-width: $tablets) {
      display: block;
    }

    &::before {
      padding-top: 54%;
    }
  }

  &-grid {
    display: grid;
    margin-top: 5rem;

    @media only screen and (min-width: $tablets) {
      grid-gap: 5rem;
      grid-template-columns: repeat(2, 1fr);

    }

    input[type="submit"] {
      padding-top: 0.5rem;
      height: 4.5rem;
      max-width: 20rem;
      margin-top: 5rem;
    }
  }
}