.logo {
    display: inline-block;
    height: 10rem;
    width: 20rem;

    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.nav {
    position: relative;
    background-color: color(white);
    padding-top: 3rem;
    padding-bottom: 1.5rem;

    .btn {
        width: 3rem;
        height: 3rem;
        font-size: 1.4rem;
        padding-top: 0.35rem;
        border: 2px solid color(accent-light);
    }

    .navbar-container {
        width: 100%;
        height: 10rem;
        margin-inline-start: 5rem;
    }

    .navbar {
        width: 100%;

        .nav-link {
            flex-grow: 1;
            font-size: 1.8rem;
            color: color(white);
            background-color: color(accent-dark);
            margin-inline-end: 1rem;
            text-align: center;

            &.active,
            &:hover,
            &:focus {
                background-color: color(accent-light);
            }

            &:last-child {
                margin-inline-end: 0;
            }
        }
    }
}

.main-slider {
    .slider-item {
        background-image: linear-gradient(to left, color(gradient-blue), color(gradient-green));

        .img-wrapper {
            opacity: 0.35;
            max-height: 50rem;
            background-blend-mode: luminosity;
            background-position: center;
            background-size: cover;

            &::before {
                padding-top: 45%;

            }
        }

        &__text {
            position: absolute;
            inset: 0;
            margin-bottom: 5.2rem;

            .container {
                height: 100%;
            }

            .text-wrapper {
                height: 100%;
                margin-inline-start: 40%;

                span {
                    color: color(white);
                    font-size: 3rem;
                    line-height: 1.25;
                    text-shadow: 0.7rem 0.7rem 1.2rem #444444;

                    @media only screen and (min-width: $phones) {
                        font-size: 4rem;
                    }
                }
            }

        }
    }
}